<h1>All the cats!</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><%=cat.name%> - <a href="cats/<%=cat.id%>">About me</a></li>
  <% end %>
</ul>


<br>

<a href=" <%= new_cat_url %> ">Make a new cat!</a>
