<h1>Create a new cat!</h1>

<form action="/cats" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="cat[name]" value="<%=@cat.name%>">

  <br>

  <label for="birth_datedate">Birth Date:</label>
  <input id="birth_date"type="date" name="cat[birth_date]" value="<%=@cat.birth_date%>">

  <br>

  <label for="color">Color:</label>
  <select class="" id="color" name="cat[color]">
    <option value="none" selected>--Select Color--</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%=color%>"><%=color%></option>
    <% end %>
  </select>

  <br>

  <label for="sex">Sex:</label>
  <input id="sexM" type="radio" name="cat[sex]" value="M">
  <label for="sexM">M</label>
  <input id="sexF" type="radio" name="cat[sex]" value="F">
  <label for="sexF">F</label>

  <br>

  <label for="description">Description:</label>
  <textarea name="cat[description]" placeholder="A brief description of your cat...">

  </textarea>
  <br>

  <input type="submit" value="Make Cat!">
</form>
