<h1>Create a new cat!</h1>

<form action="/cats" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="cat[name]" value=" <%= @cat.name %> ">

  <br>

  <label for="birth_datedate">Birth Date:</label>
  <input id="birth_date"type="date" name="cat[birth_date]" value=" <%= @cat.birth_date %> ">

  <br>

  <label for="color">Color:</label>
  <select class="" id="color" name="cat[color]">
    <option value="none" selected>--Select Color--</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%=color%>"><%=color%></option>
    <% end %>


    <!-- <option value="Black">Black</option>
    <option value="Brown">Brown</option>
    <option value="White">White</option>
    <option value="Grey">Grey</option>
    <option value="Mixed">Mixed</option> -->
  </select>

  <br>

  <label for="sex">Sex:</label>
  <input id="sexM" type="radio" name="sex" value="M">
  <label for="sexM">M</label>
  <input id="sexF" type="radio" name="sex" value="F">
  <label for="sexF">F</label>

  <br>

  <label for="name">Description:</label>
  <textarea name="name" value="Your cats description...">

  </textarea>
  <br>

  <button type="button" name="button">Make Cat!</button>
</form>
