<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NinetyNineCats Welcomes You!</title>
  </head>
  <body>
    <h1>Welcome aboard, <%= @user.username %>!</h1>

    <p>Thanks for signing up, if you have any questions please feel free to
        reach out to us and ask</p>
  </body>
</html>
