<!DOCTYPE html>
<html>
  <head>
    <title>LibraryDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>

  </head>

  <body>
    <h1>My Library App</h1>
    <%= yield %>
  </body>
</html>
