<h1>Update <%= @cat.name %></h1>
<% # The below line renders a partial, its a piece being rendered inside another templace %>
<% # They always start with an underscore, and we use it to sub out repeatable sections %>
<% # Suuuuuper dry %>
<%= render "form", cat: @cat %>