/* PHASE 1: Header */

body {
  /* Write your css here... */

  /* Typography */
  font-family: sans-serif;
  font-size: 24px, 16px, 14px;
  font-weight: 400, 700;

  /* Color */
  background-color: #ccc;
}

.header {
  background-color: #f00;
  color: white;
  border-bottom: 1px solid #aaa;
}

.header a {
  /* Override default inline-block display for a tags, so our padding works
  well on the a tags */
  display: block;
  padding: 10px
}

.header-nav {
  /* Centers element */
  margin: auto;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
