<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to Cats for rent!</h1>

    <p>Hi, <%= @user.user_name %>, we hope you enjoy the site! </p>
  </body>
</html>
