/* Reset */

h1,
h2,
ul {
  margin: 0;
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  color: yellow;
}


/* Layout Basics */


html,
body {
    display: flex;
    flex-direction: column;
    font-family: 'Sofia';
    font-size: 22px;
    background: rgba(200, 200, 150, 0.5);
    padding: 0;
    margin: 0;
}

header,
section,
footer {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/* Application.html Main header components */
.main-header {
    display: flex;
    margin-bottom: 2%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(58, 41, 21, 0.5)
}

.head-div {
  display: flex;
  align-items: center;
}

.head-div a {
  display: block;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
}


/* Universal compoents, across many pages */


/* Index.html.erb components */

.index-main {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
}

.index-header {
  display: flex;
  justify-content: space-between;
  background: rgba(58, 41, 21, 0.5)
}

.index-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.index-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  margin: 1%;
  border: solid 1px black;
  background: rgba(58, 41, 21, 0.3)
}

.cat-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.cat-div h4 {
  font-size: 24px;
}

.index-cat-pic {
   width: 80%;
   height: 60%;
   margin: 2%;
   border: 1px solid black;
 }

/* Layout

body {
    font-family: sans-serif;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
  }

  header,
  aside,
  section,
  footer {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
  }

  header,
  footer{
    margin: 20px 0;
  }
  header, footer, aside, section {
      flex: 1 100%;
  }
  header ul li {
    margin-left: 50px;
  }

  article,
  aside li {
    margin: 15px 0;
  }

  header,
  header ul,
  footer {
    display: flex;
  }
  header,
  footer {
    justify-content: space-between;
  }

  header ul,
  footer ul {
    align-items: center;
  }

  @media all and (min-width: 600px) {
    aside {
      flex: 1;
      order: 1;
      margin-right: 20px;
    }

    section {
      flex: 3;
      order: 2;
    }
    footer {
        order: 3;
    }
  } */
